


.venv
/data/input
/data/intermediary
/data/output
/data/wiktionary.jsonl
/data/wiktionary.jsonl.*
/data/wiktionary.db
/data/wiktionary.db-*
/data/wiktionary.db.*
/junk

__pycache__

code/train_ai/unsloth_compiled_cache/

